body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left:5% ;
}
.half-width img{
    width: 93%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}