body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left:5% ;
}
.half-width img{
    width: 93%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    font: 700;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 8px 17px;
    border-radius: 8px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}


